.main-content {
  display: inline-block;
  width: 95%;
  margin: 20px 0 20px 2.5%;
}

.main-content > .article {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.5rem;
  background-color: #fbfbfb;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  transition: box-shadow 150ms linear;
}

.main-content > .article:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.main-content .figure {
  margin: 0;
}

.main-content .thumbnail {
  width: 100%;
  height: auto;
}

.main-content .content {
  position: relative;
}

.main-content .section {
  position: absolute;
  display: inline-block;
  font-weight: bold;
  top: -20px;
  margin: 0;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: #731db1;
  color: #ffffff;

  transition: transform 100ms linear;
}

.main-content:hover .section {
  transform: scale(1.03);
}

.main-content .wrap {
  width: 100%;
  height: 100%;
  margin: 30px 0 10px;
  padding-top: 20px;
  overflow: hidden;
}

.main-content .title {
  position: relative;
  width: 100%;
  margin: 0;
  vertical-align: center;
  height: 3.6em;
  overflow: hidden;
  color: #000000;
}

.main-content .title:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(251, 251, 251, 0), rgba(251, 251, 251, 1) 50%);
}

.main-content .publicatedAt {
  position: relative;
  display: block;
  width: 100%;
  font-size: 1.175rem;
  color: #5F5F5F;
}

.main-content .publicatedAt > .timezone {
  font-size: 0.8em;
  margin-left: 5px;
}

.main-content .publicatedAt > .office {
  position: absolute;
  opacity: 0.8;
  right: 0;
  bottom: 0;
}

@media (min-width: 756px) {
  .main-content {
    width: 46%;
  }
}

@media (min-width: 1024px) {
  .main-content {
    width: 30%;
  }
}